In [1]:
from google.colab import files
uploaded=files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing

import matplotlib.pyplot as plt#For data visualisation
import seaborn as sns #For data visualisation
from sklearn import preprocessing, model_selection, metrics
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('energydata_complete.csv',encoding='latin-1')

In [4]:
df.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [5]:
#drop the date and lights column
df = df.drop(columns = ['date', 'lights'])

In [ ]:
df.drop(['date', 'lights'], axis = 1)

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

Question 12
From the dataset, fit a linear model on the relationship betwen the temperature in the living room in Celsius (x =T2) and the temperature outside the building (y=T6). What is the R^2 value in two D.P?

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x = df[["T2"]]
y = df[["T6"]]

#split our dataset into the training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

#create a Linear Regression Object
lre = LinearRegression()

#fit the model to the training dataset
lre.fit(x_train, y_train)

#make predictions
y_pre = lre.predict(x_test)

In [7]:
#R squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pre)
print('The Rsquared value to two decimal places is ',round(r2_score, 2) )

The Rsquared value to two decimal places is  0.64

**Preprocessing**

In [8]:
#normalise the dataset using the min max scaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

# create a MinMaxScaler Object
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

#divide our Energy_data into feature and Target Variables as given
feature = norm_df.drop(columns=['Appliances'])
target = norm_df['Appliances']

In [10]:
#split the dataset into the training and testing dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature, target, test_size=0.3, random_state=42)

In [11]:
# create a Linear Regression Object
lim = LinearRegression()

#fit the model to the training dataset
lim.fit(x_train, y_train)

#make predictions
predicted_values = lim.predict(x_test)

Question 13
What is the Mean Absolute Error (in two decimal places)?

In [12]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
print('The Mean Absolute Error in two decimal places is', round(mae, 2))

The Mean Absolute Error in two decimal places is 0.05

Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [13]:
rss = np.sum(np.square(y_test - predicted_values))
print('The Residual Sum of Squares in two decimal places is', round(rss, 2))

The Residual Sum of Squares in two decimal places is 45.35

Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [14]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
print('The RMSE in three decimal places is',round(rmse, 3))

The RMSE in three decimal places is 0.088

Question 16
What is the Coefficient of Determination (in two decimal places)?

In [15]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
print('The Coefficient of Determination in two decimal places is',round(r2_score, 2))

The Coefficient of Determination in two decimal places is 0.15

Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [16]:

def get_weights_df(model, feat, col_name):

  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name] = weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(lim, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2               -0.457
1         T_out               -0.322
2            T2               -0.236
3            T9               -0.190
4          RH_8               -0.158
5        RH_out               -0.078
6          RH_7               -0.045
7          RH_9               -0.040
8            T5               -0.016
9            T1               -0.003
10          rv1                0.001
11          rv2                0.001
12  Press_mm_hg                0.007
13           T7                0.010
14   Visibility                0.012
15         RH_5                0.016
16         RH_4                0.026
17           T4                0.029
18    Windspeed                0.029
19         RH_6                0.038
20         RH_3                0.096
21           T8                0.102
22    Tdewpoint                0.118
23           T6                0.236
24           T3                0.291
25         RH_1                0.554

Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [19]:
#apply Ridge Regression
from sklearn.linear_model import Ridge
#create a Ridge Regression Object
ridge_reg = Ridge(alpha=0.4)

#fit the model to the training dataset
ridge_reg.fit(x_train, y_train)

#make predictions
y_hat1 = ridge_reg.predict(x_test)

In [20]:
# next we calculate RMSE after applying Ridge Regression
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_hat1))
print('The RMSE in three decimal places after applying Ridge regression is',round(rmse, 3))

The RMSE in three decimal places after applying Ridge regression is 0.088

Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [21]:
# train a lasso regression model
from sklearn.linear_model import Lasso

#we create a Ridge Regression Object
las_reg = Lasso(alpha=0.001)

#fit the model to the training dataset
las_reg.fit(x_train, y_train)

#make predictions
y_hat = las_reg.predict(x_test)

In [22]:
#this function returns the weight of every feature
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name] = weights_df[col_name]
  return weights_df

lasso_weights_df = get_weights_df(las_reg, x_train, 'Lasso_weight')
(lasso_weights_df['Lasso_weight']==0).value_counts()

True     22
False     4
Name: Lasso_weight, dtype: int64

Question 20
What is the new RMSE with the Lasso Regression(in 3 decimal places)?

In [23]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_hat))
print('The RMSE in three decimal places with Lasso regression is',round(rmse, 3))

The RMSE in three decimal places with Lasso regression is 0.094