In [1]:
import numpy as np
import pandas as pd

In [5]:
from google.colab import files
uploaded=files.upload()

Saving data.csv to data.csv

In [8]:
df = pd.read_csv('data.csv',encoding='latin-1')

In [9]:
df

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

In [12]:
df.shape

(60943, 12)

In [32]:
df.groupby(by=["Item"]).sum()

                     Area Code  Item Code  ...      Y2017      Y2018
Item                                       ...
Alcohol, Non-Food        38447     752497  ...    2348.00    2293.00
Alcoholic Beverages      75016    1649136  ...   95581.06   97847.27
Animal Products          18060     397035  ...   11547.65   11578.61
Animal fats              85279    1882494  ...  269617.53  269648.27
Apples and products      69280    1352989  ...   10198.90    9640.51
...                        ...        ...  ...        ...        ...
Vegetables, Other        77779    1518715  ...  157752.59  163987.21
Vegetal Products         18060     391905  ...  107655.20  107775.39
Wheat and products       87073    1639683  ...  240047.62  242645.19
Wine                     66206    1319535  ...    4178.02    4039.32
Yams                     50798     970905  ...  229174.59  221272.09

[119 rows x 8 columns]

In [33]:
df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [34]:
percent_missing = df.isnull().sum() * 100 / len(df)

In [35]:
percent_missing

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [36]:
 df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [37]:
df.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [38]:
df.groupby(by=["Element"]).sum()

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [42]:
data = df.groupby(['Y2018','Element'])['Element'].sum()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [43]:
data

Y2018      Element
-3396.0    Stock Variation                                 Stock Variation
-2450.0    Stock Variation                                 Stock Variation
-2156.0    Stock Variation                  Stock VariationStock Variation
-1445.0    Stock Variation                                 Stock Variation
-1442.0    Stock Variation                                 Stock Variation
                                                         ...
 98424.0   Total Population - Both sexes     Total Population - Both sexes
 109224.0  Total Population - Both sexes     Total Population - Both sexes
 117038.0  Domestic supply quantity               Domestic supply quantity
 118172.0  Production                                           Production
 195875.0  Total Population - Both sexes     Total Population - Both sexes
Name: Element, Length: 9254, dtype: object

In [45]:
df['Area Code'].sum()

8182547

In [47]:
df2=df.groupby(by=["Area Code"]).sum()

In [48]:
df2.shape

(49, 7)

In [51]:
gk = df.groupby(['Y2018', 'Element'])

In [53]:
gk.first()

                                         Area Code  ...     Y2017
Y2018     Element                                   ...
-3396.0   Stock Variation                       59  ...    -157.0
-2450.0   Stock Variation                       59  ...       0.0
-2156.0   Stock Variation                       59  ...   -1582.0
-1445.0   Stock Variation                      144  ...   -1200.0
-1442.0   Stock Variation                      144  ...   -1159.0
...                                            ...  ...       ...
 98424.0  Total Population - Both sexes         59  ...   96443.0
 109224.0 Total Population - Both sexes        238  ...  106400.0
 117038.0 Domestic supply quantity             159  ...  112625.0
 118172.0 Production                           159  ...  117702.0
 195875.0 Total Population - Both sexes        159  ...  190873.0

[9254 rows x 10 columns]